#beginPage {
    border-radius: 1rem;
    display: var(--begin);
    opacity: var(--beginopacity);
    transition: all 500ms ease 250ms;
    position: fixed;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0 ,0.5);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: grid;
    place-items: center;
    align-items: center;
    row-gap: 0;
    
}

#BeginButton{
    opacity: 1;
    transition: all 500ms ease;
}

.begin_p{
    margin: 0;  
    width: 50%;
    margin-bottom: -20vh;
}

.begin_p2{
    margin-top: -20vh;
    font-size: 1.5rem;
}

.begin_buttons{
    display: flex;
    border-radius: 2rem;
    background-color: transparent;
    font-size: 3rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#BeginButton:focus{
    transform: scale(10);
    opacity: 0;
    filter: blur(10px)
}



@media screen and (max-width: 600px){
    .begin_p2{
        margin-top: -20vh;
        font-size: 1rem;
    }

}
    
  
  
