#Home{
    top:100vh;
    left:100vw;
}

.container__home > p{
    background-color: transparent;
    margin: 0.5rem;
}

#p2_home{
    font-size: 1.3rem;
    background-color: transparent;
}

.container__themes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.theme{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 2vh;
    padding: 0;
    animation: theme_anim 1000ms infinite ease;
    transition: transform 250ms ease;
}

#theme_1{
    background-image: linear-gradient(45deg, rgb(142, 255, 253), rgba(211, 16, 65, 1));
}
#theme_2{
    background-image: linear-gradient(45deg, rgb(101, 1, 177), rgb(255, 255, 0));
}

.theme:hover{
    transform: scale(1.5);
}


@keyframes theme_anim {
    0%{
        border-radius: 50%;
    }50%{
        border-radius: 30%;
    }100%{
        border-radius: 50%;
    }
}