#Services {
  left: 100vw;
  top: 300vh;
}


.auxilaryContainer_Services{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
}


.pyramid{
  border: 1px solid red;
  position: relative;
  left: 25vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  background-color: transparent;
  overflow: hidden;
  height: 75vh;
  transition: all 500ms ease;
}


.pyramid_part{
  min-height: 0;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-tertiary);
  width: 60vw;
  height: 25vh;
  border: 1px solid transparent;
  transition: all 300ms ease;
  margin-bottom: 1vh;
  color: var(--color-p);
  font-size: 0;
  backdrop-filter: blur(5px);
  opacity: 0.9
}

.pyramid_part:hover{
  font-size: 1.5rem;
  border: 0px;
  height: 300%;
  color: var(--color-p-rev);
  background-color: var(--color-tertiary-bright);
}

.pyramid_part > div{
  background-color: transparent;
  color: var(--color-p-rev);
  margin-bottom: 0.5rem;
}

.pyramid_part:hover .pyramid_title{
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3rem 3rem 0 0;
  padding: 1rem;
}

.pyramid_icons{
  transition: all 500ms ease;
  font-size: 3rem;
  background-color: transparent;
  color: var(--color-p-rev)
}

.pyramid:hover .pyramid_icons{
  opacity: 0;
}

.pi3{
  transform: rotate(90deg);
}


.pi1{
  transform: rotate(180deg);
}


@media screen and (max-width: 600px){
  .pyramid_icons{
    font-size: 1rem;
  }
  .auxilaryContainer_Services{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    
  }
  .auxilaryContainer_Services > p {
    width: 90vw;
    top: 0;
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
  }
  .pyramid{
    left: 0vw;
    top: 20vh;
    display: flex;
    width: 80vw;
    flex-direction: column;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background-color: transparent;
    overflow: hidden;
    transition: all 500ms ease;
  }
  .pyramid_part{
    width: 80vw;
  }
  .pyramid_part:hover .pyramid_title{
    font-size: 1rem;
    width: 80vw;
    text-indent: 2rem;
  }
  .pyramid_part:hover{
    font-size: 1rem;
  }
  

}
