@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: var(--color-primary)
}

section > * {
  background-color: transparent;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: roboto;
  font-weight: 100;
  font-size: 4rem;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  
}


html{
  width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
}

::-webkit-scrollbar{
  display: none;
}

:root{
  /* --color-primary: rgb(142, 255, 253);
  --color-secondary: rgba(211, 16, 65, 0.785);
  --color-tertiary: rgb(4, 0, 90);
  --color-tertiary-bright: rgb(34, 0, 156);
  --color-p: black; 
  --color-p-rev: white;*/
  --color-primary: indigo;
  --color-secondary: yellow;
  --color-tertiary: #55c79d;
  --color-tertiary-bright: #00ffa2; 
  --color-p: white;
  --color-p-rev: black;
  --begin: grid;
  --beginopacity: 1;
  --mapDisplay: none;
  --mapOpacity: 0;
  --transition: all 300ms ease;
  --gofanim: 0ms;
}

section{
  position: absolute;
  width: 100vw;
  height: 100vh;  
  background-color: var(--color-primary);
  overflow: hidden;
}

p {
  font-size: 2rem;
  font-weight: 100;
  color: white
}

h1, h2 {
  font-size: 10vw;
  font-weight: 500;
  color: var(--color-tertiary-bright)
}

h3, h4, h5, h6{
  font-weight: 300;
  color: var(--color-tertiary-bright)
}

.container{
  padding: 15vh 15vw;
}

button{
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  
}
p{
  color: var(--color-p);
  background-color: transparent;
}

img{
  width: 45vh;
}
